#version=RHEL10
# ============================================================
# Kickstart для Rocky Linux 10.2 x86_64
# Развертывание через HashiCorp Packer на Proxmox VE
# ============================================================

# --- Язык, клавиатура, время ---
lang ru_RU.UTF-8
keyboard --xlayouts='us,ru'
timezone Europe/Moscow --utc

# --- Аутентификация ---
# Хеш для root
rootpw --iscrypted $6$y/lW7TuJRHkCn54H$hOCIptiU1dFLpbqdGjK8IntTWbr4hic9jY5x2rPna7lcyWxXgx4EWlaTQPxiNp/yHbKHNyeDXMWjW70bTVoEQ/

# Хеш для ansible 
user --name=ansible --password=$6$y/lW7TuJRHkCn54H$hOCIptiU1dFLpbqdGjK8IntTWbr4hic9jY5x2rPna7lcyWxXgx4EWlaTQPxiNp/yHbKHNyeDXMWjW70bTVoEQ/ --iscrypted --groups=wheel

# Зеркало Яндекс для BaseOS и AppStream
url --url="https://mirror.yandex.ru/oracle/OL10/baseos/latest/x86_64/"
repo --name="AppStream" --baseurl="https://mirror.yandex.ru/oracle/OL10/appstream/x86_64/"
repo --name="UEKR8" --baseurl="https://mirror.yandex.ru/oracle/OL10/UEKR8/x86_64/"

# --- Загрузчик ---
bootloader --location=mbr --append="crashkernel=auto rhgb quiet"

# --- Сеть ---
network --bootproto=dhcp --device=link --activate --onboot=on

# --- Разметка диска (GPT) ---
zerombr
clearpart --all --initlabel --disklabel=gpt

# Физические партиции
part /boot/efi --fstype=efi --size=1024 --ondisk=sda
part /boot     --fstype=xfs --size=1024 --ondisk=sda
part pv.01     --fstype=lvmpv --size=1 --grow --ondisk=sda

# LVM группа sys
volgroup sys pv.01

# Логические тома (все XFS)
logvol swap  --fstype=swap --name=swap  --vgname=sys --size=2048
logvol /var  --fstype=xfs  --name=var   --vgname=sys --size=5120
logvol /home --fstype=xfs  --name=home  --vgname=sys --size=5120
logvol /     --fstype=xfs  --name=root  --vgname=sys --size=10240

# --- Пакеты ---
%packages
@^minimal-environment
kernel-uek
qemu-guest-agent
cloud-init
bash-completion
tree
vim
nano
net-tools
traceroute
telnet
wget
curl
%end

# --- Пост-установка ---

%post

# 1. Настройка sudo для ansible (NOPASSWD)
echo 'ansible ALL=(root) NOPASSWD: ALL' > /etc/sudoers.d/ansible
chmod 0440 /etc/sudoers.d/ansible

# 2. Включаем qemu-guest-agent
systemctl enable qemu-guest-agent
systemctl start qemu-guest-agent

%end

reboot